body {
  text-align: left;
  color: #393E46;
  font-family: 'Ubuntu', sans-serif;
	counter-reset: section -1;
}

p {
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

h3 {
  font-size: 3rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  /* margin: 10px 50px; */
}

h1 {
  font-size: 1.5rem;

}

section{
	counter-increment: section ;
}

a{
	display: inline-block;
	text-decoration: none;
	text-decoration-skip-ink: auto;
}




.btn-resume {
  border-radius: 6px;
  display: inline-block;
  font-size: 18px;
  line-height: 13px;
  margin: 0 0 0 15px;
  padding: 12px 16px;
}

.btn-contact {
  border-radius: 6px;
  display: inline-block;
  font-size: 25px;
  line-height: 15px;
  margin: 50px 0 0;
  padding: 20px 28px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn{
	  border-color: #008073;
		color: #008073;
}
.btn:hover {
  color: white;
  background-color: #008073;
  border-color: #008073;
}

.colored-word-gray {
  color: #B8AFAD;
}

#main .container-fluid {
  padding: 0 7%;
}

#home .container-fluid {
  padding-top: 3%;
  padding-bottom: 8%;
}

#home .row {
  padding-top: 10%;
}

#footer {
  padding-top: 10%;
  text-align: center;
}
#skills{
	text-align: center;
}


.title-column {
  padding-top: 5%;
}

.project-image {
  width: 120%;
}

.mainbg-color {
  background-image: url(../images/bg-3.jpg);
  background-repeat: repeat;
}

.card {
  margin-top: 2em;
  padding: 1.5em 0.5em 0.5em;
  border-radius: 12px;
  border-style: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Ubuntu', sans-serif;
  background: rgba(255, 255, 255, 1); // Make sure this color has an opacity of less than 1
	text-align: left;
}


.card-title-experience{
margin-left: 15px;
}
.card-title-experience::after{
	content: "";
	display: block;
	top: -5px;
	width: 100%;
	height: 2px;
  margin: 0;
	background-color: #008073;
}

.card-body p{
	font-size: 1.2rem;
}

.card-external-icon{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 20px 0 7px;

}
.project-top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 35px;
	/* height: 0; */
}
.card-gitHub-link{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
  margin-right: 15px;

}
.project-links{
	display: flex;
  /* position: relative; */
	align-items: center;
  height: 0;
  margin-right: -10px;

}
 .project-links a{
   height: 0;
 }
.project-folder{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 0 7px 10px;
	font-size: 2.5rem;
}
.project-title{
	/* margin-top: 20px; */
  margin-bottom: 15px;
}
.project-tech-list{
	display: flex;
	align-items: flex-end;
	flex-grow: 1;
	flex-wrap: wrap;
	padding: 0;
	margin: 20px 0 0;
	list-style: none;
}
.project-tech-list li{
	margin: 0 0 15px 15px;
	font-size: 15px;
  font-weight: bold;
}

.bg-transparent {
  backdrop-filter: blur(4px); // This be the blur
}




/*Containers*/
/* Navigation bar */
.navbar-brand {
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  padding-left: 3.5%
}

.navbar-brand img {
  width: 115px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  color: #393E46;
}

.nav-link:hover {
  color: #B8AFAD;
}

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}

.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.autohide {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 95%;
  z-index: 1030;
  background-image: url(../images/bg-3.jpg);
  background-repeat: repeat;
  font-size: 1.2rem;
  font-weight: bold;
}

/*Sections*/
/*Section titles*/
.section-title {
	display: flex;
	width: 100%;
  padding: 10% 0 5% 2%;
	color: #393E46;
	font-size: 3.2rem;
	white-space: nowrap;
}
.section-title::after{
	content: "";
	display: block;
	top: -5px;
	width: 300px;
	height: 2px;
  margin-top: 30px;
	margin-left: 20px;
	background-color: #008073;
}

.section-title::before{


	content: "0" counter(section) ".";
	margin-right: 10px;
	color: #008073;
	font-weight: 400;
}

.social-icon {
  margin: 90px 20px 0 20px;
	height: 0;
}
.social-icon a{
	height: 0;
}

.side-icons{
	left: 40px;
	right: auto;
	width: 40px;
	position: fixed;
	bottom: 0;
	z-index: 10;
}
.side-icons a{
	height: 0;

}
.vertical-icons-list {

	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 ;
	padding: 0;
	line-height: var(--fz-lg);
	list-style: none;
}
.vertical-icons-list li{
	margin-bottom: 30px;
}

.vertical-icons-list::after{
	content: "";
	display: block;
	width: 3px;
	height: 100px;
	margin: 0 auto;
	background-color: #008073;
}



.icon {
  margin-bottom: 35px;
	font-size: 2rem;
}

.icon:hover {
  color: #B8AFAD;
}

.vertical-email {

	left: auto;
 	right: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin: 23.5rem 0 0 0 ;
	bottom: 0;
	z-index: 10;
}
.vertical-email::after{
	content: "";
	display: block;
	width: 3px;
	height: 100px;
	margin: 0px auto;
	background-color: #008073;
}



@media (max-width: 1080px) {
  .vertical-email {
    display: none;
		left: auto;
		right: 20px;
  }

  .side-icons  {
    display: none;
		left: 20px;
		right: auto;
  }

  .d-lg-none {
    display: block !important;
  }

	.nav-item{
		padding: 0px 15px;

	}
}

.contact-section {
  text-align: center;
}

.vertical-text-mode {

	margin: 20px auto;
	padding: 10px;
	font-size: 1.2rem;
	line-height: var(--fz-lg);
	letter-spacing: 0.1em;
	writing-mode: vertical-rl;

}

.vertical-text-mode:hover {
  color: #B8AFAD;
}

/* color: #636AF2; */
.title-image {
  width: 100%;
}

.color-teal {
  color: #008073;
}
 span a:hover{
     color: #B8AFAD;
 }
/* Home Section */
